.playlist-main-container {
    width: 80vw;
    background-color: var(--video-secondary-dark);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    padding-bottom: 7.5rem;
    gap: 5rem;
}

.page-header{
    display: flex;
    justify-content: space-between;
}

.page-clear-all{
    display: flex;
    align-items: center;
    background: none;
    border: 2px solid var(--video-primary);
    color: var(--primary-clr);
    padding: 0 2rem;
    font-size: 1rem;
    border-radius: 20px;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.page-clear-all:hover{
    background-color: var(--video-primary);
    color: var(--primary-bg);
}

.playlist-videos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.playlist-box{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   background-color: var(--placeholder-clr);
   width: 16rem;
   height: 16rem;
   position: relative;
   border-radius: 20px;
   transition: .3s ease-in-out;
   overflow: hidden;
   cursor: pointer;
}

.playlist-box:hover .playlist-image{
    transform: scale(1.1);
}

.playlist-name{
    display: flex;
    font-size: 1.2rem;
    z-index: 1;
}

.playlist-video-length{
    position: absolute;
    bottom: 10%;
    background-color: var(--video-primary-light);
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    z-index: 1;
}

.playlist-image{
    width: 100%;
    height: auto;
    position: absolute;
    opacity: 0.5;
}