.playlist-main-container {
    width: 80vw;
    background-color: var(--video-secondary-dark);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    padding-bottom: 7.5rem;
    gap: 5rem;
}

.playlist-videos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.playlist-box{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.playlist-thumbnail{
    width: 16rem;
    transition: 0.3s ease-in-out;
}
.playlist-title{
    display: flex;
    width: 16rem;
    color: var(--primary-clr);
}

.playlist-name-block{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    background-color: rgba(60, 60, 60, 0.6);
    color: var(--primary-clr);
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    word-break: break-all;
    transition: 0.3s ease-in-out;
}

.playlist-box:hover .playlist-name-block{
    background-color: rgba(60, 60, 60, 0.93);
    font-size: 1.7rem;
}